.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navi {
  display: flex;
}

.filter {
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}
