.general {
  color: tomato;
  font-size: 30px;
}

.title {
  color: black;
  font-size: 45px;
  padding: 10px;
}

.postImg {
  max-width: 700px;
}

.img_div {
  display: flex;
  justify-content: center;
}

.postBody {
  padding: 50px;
  margin-bottom: 80px;
}
