/* .postLook {
  max-width: 990px;
} */

.buttonSection {
  display: flex;
  justify-content: space-between;
}
.moreButton {
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgb(235, 104, 28);
  padding: 7px;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}

.moreButton:hover {
  background: rgb(245, 119, 47);
  letter-spacing: 0.5px;
  transition: all 0.4s ease 0s;
}

.like {
  display: flex;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: #377af7;
  padding: 7px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}

.like:hover {
  background: #3995f8;
  letter-spacing: 0.5px;
  transition: all 0.4s ease 0s;
}

.likeNum {
  margin-right: 3px;
}
